*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
}
html, body{
  height: 100%;
  width: 100%;
  background-color: black;
}
#container{
  height: 60vh;
  width: 30vw;
  background-color: grey;
  margin: 30px auto;
  border-radius: 8px;
}
h1, p{
  text-align: center;
  margin: 0 0 10px 0;
}
#heading{
  font-size: 3em;
  text-align: center;
  margin-top: 40px;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
}
input{
  width: 250px;
  height: 35px;
  border-radius: 7px;
  padding: 6px;
  margin: 25px 0;
  background-color: black;
  border: none;
  font-size: 1.1em;
}
button{
  height: 35px;
  width: 130px;
  border-radius: 20px;
  background-color: black;
  border: none;
}